<p></p>

<iframe width="877" height="493" src="https://www.youtube.com/embed/lJb3HcyTTIM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> <br>

<p>blog post link</p>

<p><%= link_to "github repository", "https://github.com/dsbondin/trading-journal-rails-project" %></p>
