
body {
   width: 877px;
   height: 100%;
   margin: auto;
   padding: 10px;
   background-color: #EEE;
   font-family: verdana, georgia;
   padding-bottom: 30px;
}

nav {
  padding: 10px;
  height: 90px;
  background-color: #BBB;
}

div.field_with_errors {
  border: 1px solid red;
}

div.error_messages {
  color: red
}
